<head>
  <meta charset="utf-8">
  <meta name="description" content="<%= pageDescription %>">
  <meta name="google-site-verification" content="rbHd2NXOspK6-avguNFUvBzgddpFwWzph-a8Ebxepvo" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="metiers.numerique.gouv.fr">
  <meta property="og:description" content="L’Etat Numérique : Des projets à découvrir, des missions à pourvoir !">
  <meta property="og:image" content="/static/images/main-illu.png">

  <title><%= pageTitle %> | <%= appName %></title>

  <!-- todo(estellecomment) : import min css and js -->
  <link rel="stylesheet" href="/~/@gouvfr/dsfr/dist/css/dsfr.css">
  <link rel="stylesheet" href="/~/remixicon/fonts/remixicon.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="apple-touch-icon" href="/~/@gouvfr/dsfr/dist/favicons/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="icon" href="/~/@gouvfr/dsfr/dist/favicons/favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="/~/@gouvfr/dsfr/dist/favicons/favicon.ico" type="image/x-icon"><!-- 32×32 -->
</head>
