<div class="fr-skiplinks">
  <nav class="fr-container" role="navigation" aria-label="Accès rapide">
    <ul class="fr-skiplinks__list">
      <li>
        <a class="fr-nav__link" href="#contenu">Contenu</a>
      </li>
      <li>
        <a class="fr-nav__link" href="#header-navigation">Menu</a>
      </li>
      <li>
        <a class="fr-nav__link" href="#header-search">Recherche</a>
      </li>
      <li>
        <a class="fr-nav__link" href="#footer">Pied de page</a>
      </li>
    </ul>
  </nav>
</div>

<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br>Française
              </p>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-menu" aria-haspopup="menu" title="Menu">
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Accueil - <%= appName %>">
              <p class="fr-header__service-title"><%= appName %></p>
            </a>
            <p class="fr-header__service-tagline"><%= appDescription %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fr-container">
    <nav aria-label="Menu principal" class="fr-nav" role="navigation">
      <ul class="fr-nav__list">
        <li class="fr-nav__item">
          <% if (selectedMenu === 'home') { %>
            <a class="fr-nav__link" href="/" aria-current="page">Accueil </a>
          <% } else { %>
            <a class="fr-nav__link" href="/">Accueil</a>
          <% } %>
        </li>
        <li class="fr-nav__item">
          <% if (selectedMenu === 'jobs') { %>
            <a class="fr-nav__link" href="/emplois" aria-current="page">Les offres d'emplois</a>
          <% } else { %>
            <a class="fr-nav__link" href="/emplois">Les offres d'emplois</a>
          <% } %>
        </li>
        <li class="fr-nav__item">
          <% if (selectedMenu === 'institutions') { %>
            <a class="fr-nav__link" href="/institutions" aria-current="page">Les institutions</a>
          <% } else { %>
            <a class="fr-nav__link" href="/institutions">Les institutions</a>
          <% } %>
        </li>
      </ul>
    </nav>
  </div>
</header>
