<nav role="navigation" class="fr-pagination" aria-label="Pagination">
    <ul class="fr-pagination__list" style="justify-content: flex-end;">
        <li>
            <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label">
            </a>
        </li>
        <li>
            <a class="fr-pagination__link"
                href="?page=<%- currentPage + 1 %>"
                aria-current="page" title="Page 1">
                <%- currentPage + 1 %>
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" href="#">
            </a>
        </li>
    </ul>
</nav>
