##################################################
# AWS
# https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/loading-node-credentials-environment.html

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET=""
AWS_S3_REGION=""

##################################################
# Postgre
# Only used for test & development purpose and in case of prod deployment via docker-compose

POSTGRE_DATABASE="metiers_numeriques"
POSTGRE_USERNAME="test_db_user"
POSTGRE_PASSWORD="test_db_password"
# Only used for development purpose
POSTGRE_PORT="5432"

##################################################
# Redis
# Only used for test & development purpose and in case of prod deployment via docker-compose

REDIS_URL="redis://localhost:6379"
# Only used for test & development purpose (but not in prod deployment via docker-compose)
REDIS_PORT="6379"

##################################################
# Notion

NOTION_ENTITY_DATABASE_ID=""
NOTION_INSTITUTIONS_DATABASE_ID=""
NOTION_SERVICES_DATABASE_ID=""
NOTION_JOBS_DATABASE_ID=""
NOTION_PEP_JOBS_DATABASE_ID=""
NOTION_SKB_JOBS_DATABASE_ID=""
NOTION_TOKEN=""

##################################################
# PEP

PEP_ENDPOINT=""

##################################################
# Seekube

SKB_ENDPOINT=""

##################################################
# Custom

# Server data cache duration (in seconds)
CACHE_DURATION="60"
DATABASE_URL="postgresql://test_db_user:test_db_password@localhost:5432/metiers_numeriques?schema=public"
# Used to set API Access-Control-Allow-Origin header
DOMAIN_URL="http://localhost:3000"
NODE_ENV="development"
