{
  "extends": "@ivangabriele/eslint-config-base",
  "env": {
    "browser": false,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "ignorePatterns": ["/build/", "/static/scripts/"],
  "rules": {
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "no-console": "off",
    "no-new": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "extends": "@ivangabriele/eslint-config-typescript-base",
      "parserOptions": {
        "ecmaVersion": 2021,
        "project": "./tsconfig.json"
      },
      "rules": {
        "class-methods-use-this": "off",
        "consistent-return": "off",
        "no-console": "off",
        "no-new": "off",
        "no-plusplus": "off",
        "no-restricted-syntax": "off",
        "no-underscore-dangle": "off",

        "@typescript-eslint/lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
        "@typescript-eslint/no-shadow": "off"
      }
    },
    {
      "files": ["./static/**/*.js"],
      "env": {
        "browser": true,
        "node": false
      }
    },
    {
      "files": ["**/*.test.js", "**/*.test.ts", "jest.setup.js"],
      "env": {
        "jest": true
      }
    },
    {
      "files": ["**/__tests__/**/*.ts"],
      "parserOptions": {
        "project": "./tsconfig.test.json"
      }
    }
  ]
}
