{
  "extends": "@ivangabriele/eslint-config-base",
  "env": {
    "browser": false,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "ignorePatterns": ["src/schedulers/**/*.js", "src/shared/**/*.js", "static/scripts/*.js"],
  "rules": {
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "no-console": "off",
    "no-new": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off"
  },
  "overrides": [
    {
      "files": ["./static/**/*.js"],
      "env": {
        "browser": true,
        "node": false
      }
    },
    {
      "files": ["**/*.test.js", "jest.setup.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
