<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head') -%>

  <body>
    <%- include('partials/header') -%>

    <main>
      <div class="fr-container fr-my-4w">
        <div class="fr-grid-row Header">
          <div class="fr-col-12 fr-col-md-5">
            <h1>Page introuvable…</h1>
            <p class="text-grey">
              Cette page n'existe pas ou plus,<br />
              voulez-vous <a href="/">revenir à la page d'accueil ?</a>
            </p>
          </div>
          <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-5">
            <img alt="Page introuvable" src="/images/header-404.svg" style="width: 100%;" />
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/footer') -%>
  </body>
</html>
