<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head') -%>

  <body>
    <%- include('partials/header') -%>

    <main role="main" id="contenu">
      <div class="fr-container fr-my-4w">
        <h1>Une erreur est survenue…</h1>

        <p>Mais nous intervenons au plus vite pour la corriger !</p>
      </div>
    </main>

    <%- include('partials/footer') -%>
  </body>
</html>
