<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head') -%>

  <body>
    <%- include('partials/header') -%>

    <div id="offres-de-mission" class="fr-container fr-mt-6w fr-mb-2w">
      <h1 style='display: flex; justify-content: center; align-items: center;'>Découvrez les offres d'emploi</h1>

      <div class="hidden-md-flex" style='justify-content: center; align-items: center;'>
        <h2>Vous ne trouvez pas ?</h2>
        <a class='fr-btn' href='https://www.demarches-simplifiees.fr/commencer/metiers-numerique-gouv-fr-candidature-spontanee' style='margin-left: 2em; margin-bottom: .5rem'>Déposez une candidature spontanée&nbsp<i class="ri-file-add-line"></i></a>
      </div>


      <div class="fr-grid-row fr-py-2w">
        <div class="fr-col-12 fr-col-md-7">
          <label class="fr-label" for="JobsSearchInput">Métier</label>
          <div class="fr-input-wrap fr-mt-1w fr-fi-search-line">
            <input id="JobsSearchInput" class="fr-input" type="text" />
          </div>
        </div>

        <div class="fr-col-12 fr-mt-2w fr-col-md-5 fr-mt-md-0 fr-pl-md-4w">
          <label class="fr-label" for="JobsSearchInput">Région</label>
          <div class="fr-input-wrap fr-mt-1w">
            <select id="JobsRegionSelect" class="fr-select">
              <option value="">Toutes</option>
              <option value="Auvergne-Rhône-Alpes">Auvergne-Rhône-Alpes</option>
              <option value="Bourgogne-Franche-Comté">Bourgogne-Franche-Comté</option>
              <option value="Bretagne">Bretagne</option>
              <option value="Centre-Val de Loire">Centre-Val de Loire</option>
              <option value="Corse">Corse</option>
              <option value="Grand Est">Grand Est</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guyane">Guyane</option>
              <option value="Hauts-de-France">Hauts-de-France</option>
              <option value="Île-de-France">Île-de-France</option>
              <option value="La Réunion">La Réunion</option>
              <option value="Martinique">Martinique</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Normandie">Normandie</option>
              <option value="Nouvelle-Aquitaine">Nouvelle-Aquitaine</option>
              <option value="Occitanie">Occitanie</option>
              <option value="Pays de la Loire">Pays de la Loire</option>
              <option value="Provence-Alpes-Côte d'Azur">Provence-Alpes-Côte d'Azur</option>
            </select>
          </div>
        </div>
      </div>

      <div id="JobsList" class="fr-grid-row">
        <%- include('partials/jobList', { helper, jobs }) %>
      </div>

      <div id="LoadMoreSection" class="fr-py-4w">
        <button id="LoadMoreButton" class="fr-btn">Afficher plus de résultats</button>
      </div>
    </div>

    <%- include('partials/footer') -%>
  </body>
</html>
