<%- include('partials/header') -%>
<main role="main" id="contenu">	
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-mt-1v fr-pb-1v">
      <div id="hero-col-1" class="fr-col-md-5 fr-col-xs-6w fr-px-6w fr-my-5w">
        <h1>L’Etat Numérique :
          Des projets à découvrir,
          des missions à pourvoir !</h1>
        <p class="fr-text--lg fr-mb-1v">
        </p>
      </div>
      <div id="hero-col-2" class="fr-col-md-7 fr-col-xs-6">
        <div>
          <img
            style="max-width: 100%;"
            src="/static/images/main-illu.svg"
            alt="Séance chez un psychologue"
          />
        </div>
      </div>
    </div>
  </div>

<%- include('partials/cards',
   {
     cards:
        {
          title: 'Qu‘est-ce que l‘État Numérique ?',
          subtitle: 'En quelques mots...',
          parts: [
            {
              title: 'Plus de 200',
              text: 'nouvelles offres d‘emplois à pourvoir chaque mois !',
            },
            {
              title: 'Des projets ambitieux et challengeant',
              text: '',
            },
            {
              title: 'Des projets qui ont de l‘impact',
              text: '& touchent des milliers d‘utilisateurs',
            },
            {
              title: 'Un univers pérenne & plein d‘avenir',
              text: '',
            },
            {
              title: 'Des métiers divers & très variés',
              text: 'pour tous les profils',
            },
            {
              title: 'Des secteurs très différents',
              text: 'santé, éducation, économie, finance...',
            }
          ],
          cssClass: 'home-card',
        },
    })
 -%>

  <section class="fr-py-6w newsletter" style="text-align: center;">
    <div class="fr-container">
      <form method="post" action="https://app.mailjet.com/widget/iframe/6OXS/JiG" id="newsletter">
        <h4>Gardons le contact</h4>
        <p>Laissez votre email pour connaître l'actualité de metiers.numerique.gouv</p>
  
        <input type="hidden" id="csrf_token" name="csrf_token" value="f78e2e104a5f4ef5e8408644c40f2d0a996d6b6e183eebb7c3ab437775be5295">        <div class="fr-input-group">
            <input
            class="fr-input"
            type="email"
            style="display: inline-block; width: auto;"
            placeholder="votre adresse e-mail"
            name="w-field-field-174138-1095723-1625880-email"
            required="required"
            id="subscribe-email"
          >
          <button class="fr-btn" type="submit" name="subscribe" id="form-submit">S’inscrire</button>
  
        </div>
      </form>
    </div>
  </section>
</main>
<%- include('partials/footer') -%>
