<%- include('partials/header') -%>
<main role="main" id="contenu">	
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-mt-1v fr-pb-1v">
      <div id="hero-col-1" class="fr-col-md-5 fr-col-xs-6w fr-px-6w fr-my-5w">
        <h1>L’Etat Numérique :
          Des projets à découvrir,
          des missions à pourvoir !</h1>
        <p class="fr-text--lg fr-mb-1v">
        </p>
      </div>
      <div id="hero-col-2" class="fr-col-md-7 fr-col-xs-6">
        <div>
          <img
            style="max-width: 100%;"
            src="/static/images/main-illu.svg"
            alt="Séance chez un psychologue"
          />
        </div>
      </div>
    </div>
  </div>
  <section class="fr-py-6w newsletter" style="text-align: center;">
    <div class="fr-container">
      <form method="post" action="https://37514839.sibforms.com/serve/MUIEAOgcYYVkwK99rKzuk18o6wa3w6nhnGuj90p7o3BcsF_T99rnIirowA1TMeGdmqUoydZRSanzi2jiaWyf8xcRwgXHs4QwrxQV4c0N_D7tNnzG_9Zwg-ZSrDboWs-DGUaIr3FG1WkdjLAR7zjS06dNXHIwLXqRqVRh06n04HoebXTqZgLn1jG-XkVeTKhx1iKF9r9qkVglSxfx" id="newsletter">
        <h4>Gardons le contact</h4>
        <p>Laissez votre email pour connaître l'actualité de metiers.numerique.gouv</p>
  
        <input type="hidden" name="locale" value="fr">
        <input type="hidden" name="html_type" value="simple">
        <input
            class="fr-input"
            type="email"
            style="display: inline-block; width: auto;"
            placeholder="votre adresse e-mail"
            type="text" id="EMAIL" name="EMAIL" autocomplete="off"  data-required="true" required 
            required="required"
            id="subscribe-email"
          >
          <br>
          <label>
            <input type="checkbox" class="input_replaced" value="1" id="OPT_IN" name="OPT_IN" required />
            <span>J'accepte de recevoir vos e-mails et confirme avoir pris connaissance de votre politique de confidentialité et mentions légales.
            </span>
          </label>
          <br>
          <button class="fr-btn" type="submit" name="subscribe" id="form-submit">S’inscrire</button>
        </form>
    </div>
  </section>
</main>
<%- include('partials/footer') -%>

