<%- include('partials/header') -%>
<main role="main" id="contenu">	
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-mt-1v fr-pb-1v">
      <div id="hero-col-1" class="fr-col-md-5 fr-col-xs-6w fr-px-6w fr-my-5w">
        <h1>L’Etat Numérique :
          Des projets à découvrir,
          des missions à pourvoir !</h1>
        <p class="fr-text--lg fr-mb-1v">
        </p>
      </div>
      <div id="hero-col-2" class="fr-col-md-7 fr-col-xs-6">
        <div>
          <img
            style="max-width: 100%;"
            src="/static/images/main-illu.svg"
            alt="Séance chez un psychologue"
          />
        </div>
      </div>
    </div>
  </div>
  <section class="fr-py-6w newsletter" style="text-align: center;">
    <div class="fr-container">
      <form method="post" action="https://app.mailjet.com/widget/iframe/1O2v/9ud" id="newsletter">
        <h4>Gardons le contact</h4>
        <p>Laissez votre email pour connaître l'actualité de metiers.numerique.gouv</p>
  
        <input type="hidden" id="csrf_token" name="csrf_token" value="">
        <div class="fr-input-group">
          <input required=""
            class="fr-input"
            type="email"
            autocomplete="on"
            style="display: inline-block; width: auto;"
            id="subscribe-email"
            name="w-field-field-36469-172104-430683-email"
            placeholder="votre adresse e-mail" />
          <button class="fr-btn" type="submit" name="subscribe" id="form-submit">S’inscrire</button>
  
        </div>
      </form>
    </div>
  </section>
</main>
<%- include('partials/footer') -%>
