#TopScrollerButton {
  background-color: #2943d1;
  border-radius: 50%;
  bottom: 6.25rem;
  box-shadow: none;
  color: white;
  height: 3.75rem;
  max-height: 3.75rem;
  max-width: 3.75rem;
  opacity: 0;
  padding: 1.125rem;
  position: fixed;
  right: 1.5rem;
  width: 3.75rem;
}

#TopScrollerButton:hover {
  background-image: none;
}
