#Institution .SocialNetworkParagraph {
  align-items: center;
  display: flex;
}
#Institution .SocialNetworkParagraph a {
  box-shadow: none;
  display: inline-flex;
  margin-right: 0.5rem;
}
#Institution .SocialNetworkParagraph a::after {
  content: '';
}
#Institution .SocialNetworkParagraph a i {
  font-size: 150%;
}
#Institution .SocialNetworkParagraph a img {
  height: 1.5rem;
  opacity: 0.75;
  width: 1.5rem;
}
