.rf-centered {
  text-align: center;
}

.rf-bg--alt, .rf-bg--alt h2 {
  background-color: var(--bf500);
  color: var(--g100);
}
p.rf-hint-text {
  margin-bottom: 0;
}
.tofill {
  background-color: #fffacd;
  font-weight: lighter;
  padding: .1em .2em;
}

span.tofill::after {
  content: "]";
}
span.tofill::before {
  content: "[";
}

.main-container {
  margin-top: 4rem;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 999;
}

.home-bg--alt {
  background-color: var(--g200);
}

.rf-bg--alt2 {
  background-color: #F9EEC4;
  font-weight: bold;
}

.newsletter {
  text-align: left;
}

.rf-btn-home {
  background-color: #FDCF41;
  color: var(--g800);
}

.rf-btn-home:hover {
  background-color: #FDB541;
}

.contained-img {
  width:100%;
  height: 100%;
  object-fit: cover;
}
