/* Global*/

body:after {
  background: #2a7ffe;
  color: white;
  content: 'beta';
  font-family: sans-serif;
  font-size: 115%;
  font-weight: bold;
  height: 2rem;
  line-height: 2rem;
  position: fixed;
  right: -3rem;
  text-align: center;
  text-transform: uppercase;
  top: 2rem;
  transform: rotate(45deg);
  width: 12rem;
}

code {
  background-color: #eeeeee;
}

p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 0 0 1rem;
}

.excerpt {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  font-size: 1.15rem;
  line-clamp: 3;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rf-centered {
  text-align: center;
}

.rf-bg--alt,
.rf-bg--alt h2 {
  background-color: var(--bf500);
  color: var(--g100);
}

.rf-bg--alt2 {
  background-color: #f9eec4;
  font-weight: bold;
}

p.rf-hint-text {
  margin-bottom: 0;
}

.tofill {
  background-color: #fffacd;
  font-weight: lighter;
  padding: 0.1em 0.2em;
}

span.tofill::after {
  content: ']';
}

span.tofill::before {
  content: '[';
}

.text-grey {
  color: var(--g600);
  font-size: large;
  letter-spacing: 1px;
}

/* Landing page */

.home-bg--alt {
  background-color: var(--g100);
}

/* Contact*/

.newsletter {
  text-align: left;
}

.consent-text {
  font-size: x-small;
}

.no-link a {
  box-shadow: none;
}

/* Medias */

.stories-picture {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

.stories {
  display: flex;
  flex-flow: wrap;
}

.stories-name,
.stories-link {
  color: #fdb541;
}

.stories-title {
  color: var(--g600);
  font-size: large;
  font-style: bold;
}

.stories-text {
  color: var(--g600);
  font-style: italic;
}

.card-icon {
  width: 90px;
  height: 90px;
  margin-bottom: 1rem;
}

#ministeres--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

#ministeres .fr-card {
  margin-top: 2rem;
  flex: 0 1 30%;
  max-width: 30%;
}

#ministeres .fr-grid-row--center {
  justify-content: space-between;
}

#ministeres .fr-card__img {
  filter: brightness(90%);
  background: white;
}

.fr-card__img img {
  object-fit: contain;
}

@-webkit-keyframes rotating
/* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.hidden {
  display: none;
}

#ministry-detail ul,
#job-detail ul {
  margin: 0;
  padding-left: 0;
}
#ministry-detail ol > li,
#job-detail ol > li {
  font-size: 1.25rem;
  line-height: 1.6;
  padding-left: 1rem;
}
#ministry-detail ul > li,
#job-detail ul > li {
  font-size: 1.25rem;
  line-height: 1.6;
  list-style-type: none;
  padding-left: 2.5rem;
  position: relative;
}
#ministry-detail ul > li::before,
#job-detail ul > li::before {
  border-color: #00a8a8;
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: block;
  height: 1.15rem;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: bottom left;
  transform: rotate(40deg);
  width: 0;
}
#ministry-detail ul > li *,
#job-detail ul > li * {
  font-size: inherit;
  line-height: inherit;
}
#ministry-detail ul > li > ul > li::before,
#job-detail ul > li > ul > li::before {
  width: 0.625rem;
}

#ministry-detail-main-fields .fr-col-md-9,
#ministry-detail-main-fields .fr-col-md-9 p,
#job-detail-main-fields .fr-col-md-9,
#job-detail-main-fields .fr-col-md-9 p {
  font-size: 1.25rem;
  line-height: 1.6;
}

#ministry-detail-main-fields .fr-col-md-9,
#job-detail-main-fields .fr-col-md-9 {
  padding-top: 0.85rem;
}

#job-detail-header p {
  font-weight: 700;
}

#load-more-section {
  text-align: center;
}

#scroll-to-top-button {
  background-color: #2943d1;
  border-radius: 50%;
  bottom: 6.25rem;
  box-shadow: none;
  color: white;
  height: 3.75rem;
  max-height: 3.75rem;
  max-width: 3.75rem;
  opacity: 0;
  padding: 1.125rem;
  position: fixed;
  right: 1.5rem;
  width: 3.75rem;
}
#scroll-to-top-button:hover {
  background-image: none;
}
