/* Global*/

body:after {
  background: #2a7ffe;
  color: white;
  content: 'beta';
  font-family: sans-serif;
  font-size: 115%;
  font-weight: bold;
  height: 2rem;
  line-height: 2rem;
  position: fixed;
  right: -3rem;
  text-align: center;
  text-transform: uppercase;
  top: 2rem;
  transform: rotate(45deg);
  width: 12rem;
}

code {
  background-color: #eeeeee;
}

ul {
  list-style-type: 'â—';
  padding-inline-start: 0.5rem;
}
ul > li {
  padding-left: 0.25rem;
}
ul > li::before {
  content: none;
}
ul > li::marker {
  font-size: 0.75rem;
}

.rf-centered {
  text-align: center;
}

.rf-bg--alt,
.rf-bg--alt h2 {
  background-color: var(--bf500);
  color: var(--g100);
}

.rf-bg--alt2 {
  background-color: #f9eec4;
  font-weight: bold;
}

p.rf-hint-text {
  margin-bottom: 0;
}

p {
  margin: 0 0 1rem;
}

.tofill {
  background-color: #fffacd;
  font-weight: lighter;
  padding: 0.1em 0.2em;
}

span.tofill::after {
  content: ']';
}

span.tofill::before {
  content: '[';
}

.text-grey {
  color: var(--g600);
  font-size: large;
  letter-spacing: 1px;
}

/* Landing page */

.home-bg--alt {
  background-color: var(--g100);
}

/* Contact*/

.newsletter {
  text-align: left;
}

.consent-text {
  font-size: x-small;
}

.no-link a {
  box-shadow: none;
}

/* Medias */
.stories-picture {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

.stories {
  display: flex;
  flex-flow: wrap;
}

.stories-name,
.stories-link {
  color: #fdb541;
}

.stories-title {
  color: var(--g600);
  font-size: large;
  font-style: bold;
}

.stories-text {
  color: var(--g600);
  font-style: italic;
}

.card-icon {
  width: 90px;
  height: 90px;
  margin-bottom: 1rem;
}

#ministeres--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

#ministeres .fr-card {
  margin-top: 2rem;
  flex: 0 1 30%;
  max-width: 30%;
}

#ministeres .fr-grid-row--center {
  justify-content: space-between;
}

#ministeres .fr-card__img {
  filter: brightness(90%);
  background: white;
}

.fr-card__img img {
  object-fit: contain;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.hidden {
  display: none;
}
